h1 {
    color: orange;
    text-align: center;
}

body {
    background: url('http://wallpapercave.com/wp/giCBMkj.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.kotak {
    padding: 50px;
    width: 100px;
    color: #fff;
    margin: 10px;
    background: orange;
}

#kotak {
    width: 400px;
    color: #fff;
    background: yellow;
    padding: 50px;
}

.tulisan_satu {
    color: red;
    font-family: sans-serif;
    font-style: normal;
}

.tulisan_dua {
    color: green;
    font-size: 24pt;
    font-style: italic;
}

.tulisan_tiga {
    color: red;
    font-weight: bold;
    font-style: oblique;
}